.total_by {
  box-shadow: none !important;
}

.total_by:hover {
  transform: none !important;
}

#tbody tr:last-child td {
  color: var(--accent-color);
  font-weight: 700;
}

.close_icon {
  cursor: pointer;
}

.actions {
  display: flex;
  align-items: center;
}

.type {
  display: flex;
}

.icon {
  margin-right: 1rem;
  display: flex;
}

.desktop {
  display: none;
}

.mobile {
  display: block;
}

.desktop_th {
  display: none;
}

.desktop_td {
  display: none;
}

@media screen and (min-width: 768px) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }

  .desktop_th {
    display: table-cell;
  }

  .desktop_td {
    display: table-cell;
  }
}
