.today td {
  color: var(--primary-text);
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.today td:first-child {
  border-left: 2px solid var(--accent-color);
}
.today td:last-child {
  border-right: 2px solid var(--accent-color);
}

#tbody tr:last-child {
  box-shadow: none;
  cursor: default;
}

#tbody tr:last-child:hover {
  transform: none;
}

#tbody tr:last-child td {
  color: var(--accent-color);
  font-weight: 700;
}

#tbody td:last-child {
  color: var(--accent-color);
  font-weight: 700;
}

#thead th:last-child {
  color: var(--accent-color);
  font-weight: 700;
}
