.button {
  appearance: none;
  background: var(--accent-color);
  border: none;
  border-radius: 30px;
  user-select: none;
  height: 40px;
  min-width: 120px;
  padding: 0 1rem;
  cursor: pointer;
  font-family: inherit;
  color: var(--text);
  font-weight: 700;
  outline: none;
  margin-right: 1rem;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
}

.button span {
  text-transform: uppercase;
}

.disabled {
  opacity: 0.7;
  cursor: default;
}

.button:hover {
  background-color: transparent;
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.disabled:hover {
  background-color: var(--accent-color);
  color: white;
  border: none;
}
